@import "tailwindcss";

.container{
    width: 85%;
    margin: auto;
}

.bake{
    background-image: url(../public/images/1.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
}